# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Env
.env
.env.*
!.env.example

# Node
node_modules/
dist/
.vite/
coverage/
.npm/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build
build/
out/
